<center>
  <h1>Caffeination</h1>
  <hr>

  <%= render partial: "coffee_shops", locals: {coffee_shops: @coffee_shops} %>
  <%= render partial: "drop_down", locals: {coffee_shops: @coffee_shops} %>
</center>
