<center>
  <h1>Caffeination</h1>
  <hr>
  <%== pagy_bootstrap_nav(@pagy) %>
  <%= render partial: "drop_down", locals: {coffee_shops: @coffee_shops} %><br>
  <%= render partial: "coffee_shops", locals: {coffee_shops: @coffee_shops} %>
</center>
