---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=coffee&location=33602&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_LOOK_AT_ME
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - ffca9c97082a57d6
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--useast1-6cc764b999-wjrmr; site=public_api_v3
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Resettime:
      - '2022-04-25T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "S5LnH1njwFBlq77tIkjI1g", "alias": "yolk-white-and-associates-tampa",
        "name": "Yolk White & Associates", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/xQCa0PdWcpbh_4yX9yR7iQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/yolk-white-and-associates-tampa?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 232, "categories": [{"alias": "foodtrucks", "title": "Food
        Trucks"}, {"alias": "coffee", "title": "Coffee & Tea"}, {"alias": "breakfast_brunch",
        "title": "Breakfast & Brunch"}], "rating": 5.0, "coordinates": {"latitude":
        27.9454650532963, "longitude": -82.4588141217828}, "transactions": ["pickup",
        "delivery"], "price": "$", "location": {"address1": "100 N Ashley Dr", "address2":
        "", "address3": "", "city": "Tampa", "zip_code": "33602", "country": "US",
        "state": "FL", "display_address": ["100 N Ashley Dr", "Tampa, FL 33602"]},
        "phone": "+18134538256", "display_phone": "(813) 453-8256", "distance": 521.4754398515104},
        {"id": "Z3KyNcSMuOj_WxMwSC0Njw", "alias": "desserts-by-toffee-to-go-tampa",
        "name": "Desserts by Toffee to Go", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/NhnQl33vUte3GL3rwpByEg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/desserts-by-toffee-to-go-tampa?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 244, "categories[...]
