---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=coffee&location=15243&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_LOOK_AT_ME
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 6a949b2f406b9eb8
      Ratelimit-Resettime:
      - '2021-11-15T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-b9c656cb7-5hlc9; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4970'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-91-109-useast1aprod
      X-Extlb:
      - 10-65-91-109-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "DbVzSGQT1yxNPX_WTVAahg", "alias": "coffee-etc-castle-shannon-4",
        "name": "Coffee Etc.", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/HnD46c-xPgoGErie96LMiw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/coffee-etc-castle-shannon-4?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 63, "categories": [{"alias": "coffee", "title": "Coffee &
        Tea"}, {"alias": "delis", "title": "Delis"}, {"alias": "breakfast_brunch",
        "title": "Breakfast & Brunch"}], "rating": 5.0, "coordinates": {"latitude":
        40.36568, "longitude": -80.02367}, "transactions": ["delivery"], "price":
        "$", "location": {"address1": "3754 Willow Ave", "address2": null, "address3":
        "", "city": "Castle Shannon", "zip_code": "15234", "country": "US", "state":
        "PA", "display_address": ["3754 Willow Ave", "Castle Shannon, PA 15234"]},
        "phone": "+14125022504", "display_phone": "(412) 502-2504", "distance": 4443.029826283886},
        {"id": "jhGbILmSQ2TQvpJWug49Ew", "alias": "carnegie-coffee-company-carnegie",
        "name": "Carnegie Coffee Company", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/xltDkTt7wf9hUSrupuWsuw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/carnegie-coffee-company-carnegie?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 182, "categor[...]
