---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=coffee&location=20149&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_LOOK_AT_ME
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4986'
      X-Zipkin-Id:
      - 53924c5815f3e6bb
      X-Routing-Service:
      - routing-main--useast1-784fb67f4d-x9ng5; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-02-13T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-190-140-useast1bprod
      X-Extlb:
      - 10-65-190-140-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "ib8LA-j5ZLAjdy8fQBo6fA", "alias": "blend-coffee-bar-ashburn",
        "name": "Blend Coffee Bar", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/OjANtvEaUx4ASYk4PXKnxQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/blend-coffee-bar-ashburn?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 295, "categories": [{"alias": "coffee", "title": "Coffee &
        Tea"}, {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating":
        4.5, "coordinates": {"latitude": 39.0087294924398, "longitude": -77.5081810262783},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "43170
        Southern Walk Plz", "address2": "Ste 120", "address3": "", "city": "Ashburn",
        "zip_code": "20148", "country": "US", "state": "VA", "display_address": ["43170
        Southern Walk Plz", "Ste 120", "Ashburn, VA 20148"]}, "phone": "+15714428718",
        "display_phone": "(571) 442-8718", "distance": 2467.6448752659503}, {"id":
        "yxS0q2JiHOSnGJfq33JMhg", "alias": "java-cruiser-poolesville-4", "name": "Java
        Cruiser", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/O_PG6F7SMhYIt5Fs8rFsjw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/java-cruiser-poolesville-4?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 17, "categories": [{"alias": "foodt[...]
[...]
