---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=coffee&location=33602&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_LOOK_AT_ME
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4964'
      Ratelimit-Resettime:
      - '2023-01-29T00:00:00+00:00'
      X-Zipkin-Id:
      - f5c3473071803971
      X-Routing-Service:
      - routing-main--useast1-5c95747677-6k6qk; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-68-45-useast1aprod
      X-Extlb:
      - 10-65-68-45-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "vqoJDSfLY3FMTZY_ogLS_w", "alias": "jb3-doughjoe-ybor-city",
        "name": "JB3 DoughJoe", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/gJ-3Pcgv9wnzmfP4U-agrw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/jb3-doughjoe-ybor-city?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 6, "categories": [{"alias": "bakeries", "title": "Bakeries"},
        {"alias": "coffee", "title": "Coffee & Tea"}, {"alias": "breakfast_brunch",
        "title": "Breakfast & Brunch"}], "rating": 5.0, "coordinates": {"latitude":
        27.96101, "longitude": -82.45147}, "transactions": [], "location": {"address1":
        "1806 1/2 N Nebraska Ave", "address2": "", "address3": null, "city": "Ybor
        City", "zip_code": "33602", "country": "US", "state": "FL", "display_address":
        ["1806 1/2 N Nebraska Ave", "Ybor City, FL 33602"]}, "phone": "", "display_phone":
        "", "distance": 1669.5963946845593}, {"id": "Hj68GMB1E31JRtm5DbQcPA", "alias":
        "tunisian-sweet-temple-terrace", "name": "Tunisian Sweet", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/cBYTV7th1uVtZEHsF1te5A/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/tunisian-sweet-temple-terrace?adjust_creative=nDIAuy1o_G4lHcbBlhCwTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=nDIAuy1o_G4lHcbBlhCwTg",
        "review_count": 11, "categories": [{"alias": "desse[...]
