.main
  .div.home-content
    = image_tag(asset_path("pexels-adrian-regeci-9942543.jpg"), class: "pic")
    %h1
      CAFFEINATION
      .div
        %p
          Find, save and share your favorite coffee spots!
